body {cursive;
  }
  p {
  text-align: justify;
}



.header {
  padding: 20px;
  text-align: center;
  background: #50A69D;
  color: white;
  font-size: 30px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8F2769;
    color: black;
    text-align: center;

.navbar {
  font-size: 1em;
    }

.header .navbar-brand {
  margin: 0 10px 0 30px;
  font-size: 1em;
  color: #ffffff;
    }
@media (min-width: 992px) {
.navbar-brand {
        margin: 0 10px 0 0;
        color: rgb(255, 255, 255);
      }
    }
